.index__header--container {
   height: 100vh;
   background: rgb(39,5,66);
   background: linear-gradient(30deg, rgba(39,5,66,1) 0%, rgba(77,189,212,1) 100%);
   color: $light;
   text-align: center;
}