/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
   font-weight: 800;
}

h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 2.5rem;
   font-weight: 700;
}

h3 {
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 700;
}

h4 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.5rem;
   font-weight: 600;
}

h5 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
}

h6 {
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   font-weight: 600;
}

p {
   font-family: 'PT Sans', sans-serif;
}

